@model dynamic

@{
   Layout = null;
}

<!DOCTYPE html>

<html>
   <head>
      <title>ExtDirect Example</title>
      
      <link rel="stylesheet" type="text/css" href='@Url.Content("~/Content/ext/resources/css/ext-all.css")' />
      <script type="text/javascript" src='@Url.Content("~/Scripts/ext/ext-dev.js")'></script>
      @*<script type="text/javascript" src='@Url.Content("~/ExtDirect")'></script>*@
      <script type="text/javascript" src='@Url.Content("~/Scripts/app.js")'></script>      
   </head>
   <body>
      <div>
           
      </div>
   </body>
</html>