<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="WCFChannelManager.Tests.FakeObjects.DummyService">
                <endpoint address="" binding="basicHttpBinding" contract="WCFChannelManager.Tests.FakeObjects.IDummyService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/DummyService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
      <bindings>
        <basicHttpBinding>
          <binding receiveTimeout="00:45:00" sendTimeout="00:45:00" maxBufferPoolSize="200000" maxBufferSize="200000" maxReceivedMessageSize="200000">
            <readerQuotas maxDepth="32" maxStringContentLength="200000" maxArrayLength="200000" />
          </binding>
        </basicHttpBinding>
      </bindings>
    </system.serviceModel>
</configuration>
