<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/schema/objects/spring-objects.xsd">

  <description>Sample Module One configuration file.</description>

  <object id="messagesResourcesConfigurer" type="SpectralSpring.Utils.MessageResourcesConfigurer">
    <constructor-arg name="bundles">
      <list element-type="string">
        <value>/SpectralSpring.Sample.Module1;component/Strings/Messages</value>
      </list>
    </constructor-arg>
  </object>

  <object id="SampleModuleOneView"
          type="SpectralSpring.Sample.Module1.Ui.ModuleOneView"/>

</objects>