<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:tx="http://www.springframework.net/tx"
         xmlns:db="http://www.springframework.net/database"
         xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/schema/objects/spring-objects.xsd
                              http://www.springframework.net/schema/tx http://www.springframework.net/schema/tx/spring-tx-1.1.xsd
                              http://www.springframework.net/schema/db http://www.springframework.net/schema/db/spring-database.xsd">
  <description>SpectralSpring Sample Config.</description>

  <object id="resourcesConfigurer" type="SpectralSpring.Utils.ResourcesConfigurer">
    <constructor-arg name="definitions">
      <list element-type="string">
        <value>/Images/Images.xaml</value>
      </list>
    </constructor-arg>
  </object>


  <object id="messageResourcesConfigurer" type="SpectralSpring.Utils.MessageResourcesConfigurer">
    <constructor-arg name="bundles">
      <list element-type="string">
        <value>/Strings/Messages</value>
      </list>
    </constructor-arg>
  </object>

  <object id="shellWindow" type="SpectralSpring.Sample.Ui.MainWindowShell" lazy-init="true"/>

  <object id="mainMenuManager" type="SpectralSpring.ModuleSupport.Ui.MainMenuManager" lazy-init="true">
    <property name="ShellWindow" ref="shellWindow"/>
  </object>

  <object id="uiCache" type="SpectralSpring.Utils.UiCache"/>

  <object id="sampleModuleOne" type="SpectralSpring.Sample.Module1.SampleModuleOne, SpectralSpring.Sample.Module1"/>
  
</objects>